<p>Epoch Time: <%= Time.current.to_i %></p>
<%= turbo_frame_tag('text-container') do %>
  <%= render partial: 'homepage/text', locals: { text: @text } %>
<% end %>

<%# Button to create todo %>
<%= link_to 'javascript:void(0)', class: 'btn btn-primary' do %>
  <i class="fa-solid fa-plus"></i>
<% end %>